body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  background-repeat: no-repeat;
  background-size: contain;
  color: white !important;
  font-family: "Poppins", sans-serif !important;
  min-height: 100vh;
}

.bg-img {
  height: 40%;
  width: 20%;
}

#center-div {
  min-width: 75vw;
  min-height: 65vh;
  border-radius: 15px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-container button {
  margin: 10px;
  margin-top: 20px;
  font-size: 2.5rem !important;
  padding: 10px 20px;
  min-height: 100px;
  min-width: 300px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.5);
  background-color: rgb(0, 152, 216);
  font-weight: 600;
}

#btn-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

#btn-header h1 {
  font-size: 3rem;
  font-family: "Poppins", sans-serif !important;

  font-weight: bolder !important;
  letter-spacing: 2px;
  color: rgb(0, 63, 120);
}

#btn-list h3 {
  font-family: "Poppins", sans-serif !important;

  font-size: 2rem;
  font-weight: bolder !important;
  letter-spacing: 2px;
  color: rgba(138, 26, 40, 255);
}
